form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin-top: 30px;
    width: 600px;
}
.escolhaCentral{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.titleA{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #fe0000;;
    font-size: 1.7rem;
    color:#fff;

}
.boxPrincipal{  
    padding: 5px;  
    background-color:  #fe0000;
    
}.title{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    font-size: 45px;
}
.boxeEscolhas{  
    padding: 10px;  
    background-color: rgb(223, 221, 217);
}
.escolhasLeft{
    width: 150px;
    display: flex;
    flex-direction: column ;
}
.telaCentral{
    text-align: center;
    padding: 10px;
    border-radius: 10%;
    background-color: aliceblue;
    width: 200px;
    height: 200px;
}
.escolhasRight{
    width: 150px;
    display: flex;
    flex-direction: column ;
}

input{
    margin: 20px;
    background-color:  #fe0000;
    color: #fff;
    height: 6vh;
    border-radius: 3px;
}
input:hover{
    box-shadow: inset 200px 0 0 #00000055;
}
#res{
    margin-top: 15px;
}#res1{
    margin-top: 60px;
}
#res2{
    background-color: yellow;
    margin-top: 60px;
}

.telaCentralDeposito{
    display: flex;
    flex-direction: column;
    align-items: center;



}